body {
    background-color: #aaaaaa;
}

.content {
    text-align: center;
}

.content p {

    text-align: justify;
}

.content * {
    padding: 10px 0;
}

.content pre {
    text-align: left;
}

.content ul, .content ol {
    padding: 10px 0;
    font-size: 16px;
    text-align: left;
}

.content img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 700px) {
    .content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .titleHeader {
        font-size: 35px;
    }
}